<template>
  <div class="relative w-full h-full flex justify-center overflow-y-auto">
    <div
      id="sobre"
      class="w-1/2 pt-36">
      <h1>Sobre</h1>
      <p><b>Aqui/Ali: Ver/Ouvir/Através</b> é uma obra interativa e imersiva realizada por artistas multidisciplinares interessados em arte, tecnologia e impacto social.</p>
      <p>Em diálogo com pessoas que adquiriram deficiências auditivas ou visuais ao longo de suas vidas, nosso time criou duas experiências distintas, combinando imagens e sons, em homenagens a dois importantes nomes da educação e acessibilidade: Helen Keller e Louis Braille.</p>
      <p>A partir de um material original gravado na Praça Coronel Fernando Prestes, localizada na região central de Sorocaba/SP, buscamos criar experiências inspiradas nos relatos colhidos que, sobretudo, contribuíssem para uma interpretação criativa e empática dos diferentes modos de ver e ouvir presentes em nossa sociedade.</p>
      <h1 class="pt-10">Quem somos?</h1>
      <ol>
        <li>
          <h2>Bruno Lottelli</h2>
          <h3>Direção Geral</h3>
          <p>Cineasta, educador e pai da Madá. Mestre em Meios e Processos Audiovisuais pela ECA-USP, professor no CEUNSP e sócio da <b><a href="https://graofilmes.com.br" target="_blanc">Grão Filmes</a> - Cinema e Novas Mídias.</b></p>
        </li>
        <li>
          <h2>Rafaella Uhiara</h2>
          <h3>Direção de Criação</h3>
          <p>Bacharel em Direção Teatral pela USP, Mestre e Doutora em Teatro pela Université Sorbonne Nouvelle, participa atualmente da criação de projetos artísticos em diversas linguagens: realidade virtual, teatro, circo e literatura.</p>
        </li>
        <li>
          <h2>Juliana Amorim</h2>
          <h3>Produção</h3>
          <p>Graduada em Comunicação Social - Rádio e TV pela Universidade Metodista de Piracicaba. Trabalhou em emissoras como TVT, Band e RecordTV e como freelancer trabalha na produção de programas de variedades, realities e publicidade</p>
        </li>
        <li>
          <h2>Renan Vasconcelos</h2>
          <h3>Direção de Som Imersivo</h3></li>
          <p>Diretor de som, mixador e finalizador. Sócio da <b><a href="https://graofilmes.com.br" target="_blanc">Grão Filmes</a> - Cinema e Novas Mídias.</b></p>
        <li>
          <h2>Eliete Della Violla</h2>
          <h3>Arte Gráfica e Identidade Visual</h3>
          <p>Designer, ilustradora e autora de livros independentes residente em Sorocaba, interior de São Paulo.</p>
        </li>
        <li>
          <h2>Rafael Romão</h2>
          <h3>Animação</h3>
          <p>Implementou projetos de criação de documentários em Realidade Virtual em escolas de todo o Brasil e é professor, roteirista e editor de curtas e longas planos.</p>
        </li>
        <li>
          <h2>Eduardo Liron</h2>
          <h3>Programação</h3>
          <p>Cineasta e Desenvolvedor Web. Mestre em Filosofia pela PUC-SP e sócio da <b><a href="https://graofilmes.com.br" target="_blanc">Grão Filmes</a> - Cinema e Novas Mídias.</b></p>
        </li>
        <li>
          <h2>João Mendes</h2>
          <h3>Assessoria e interpretação</h3>
          <p>Professor de Teatro para pessoas ouvintes e pessoas surdas. Intérprete de LIBRAS no contexto Educacional.</p>
        </li>
      </ol>
      <h1>Entrevistas</h1>
      <ol>
        <li><h2>Aron Bruno</h2></li>
        <li><h2>Brian Kurosawa</h2></li>
        <li><h2>Cecilia Melo</h2></li>
        <li><h2>Emily Isidoro</h2></li>
        <li><h2>Pablo Monteiro</h2></li>
      </ol>
      <h1>Agradecimentos</h1>
      <ol>
        <li>
          <h2>ASAC</h2>
          <h3>Associação Sorocabana de Atividades para Deficientes Visuais</h3>
        </li>
        <li>
          <h2>CEPROSOM</h2>
          <h3>Centro de Promoção Social Municipal – Limeira / SP</h3>
        </li>
        <li>
          <h2>Integra</h2>
          <h3>Profissionalização e Sociabilização do Deficiente Auditivo de Sorocaba – Sorocaba / SP</h3>
        </li>
        <li><h2>Carlos Rufini</h2></li>
        <li><h2>Edgar Zanella</h2></li>
        <li><h2>Madalena Lottelli</h2></li>
        <li><h2>Renata Lellis</h2></li>
        <li><h2>Rennan Castro</h2></li>
        <li><h2>Robson Catalunha</h2></li>
        <li><h2>Paloma Dantas</h2></li>
      </ol>
      <page-footer
        class="justify-center"
        addGrao
        ></page-footer>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import pageFooter from '../components/pageFooter.vue'

export default defineComponent({
  name: 'about',
    components: {
    pageFooter
  },
})
</script>

<style lang="postcss" scoped>
ol {
  @apply pb-10;
}
</style>