<template>
  <div
    class="absolute top-0 left-0 w-screen h-screen
            cover-page z-30 flex items-center justify-center">
    <img id="proac" class="logo" src="/assets/logos/proac.png" alt="Logotipo ProAC Editais" />
    <img id="grao" class="logo" src="/assets/logos/grao.svg" alt="Logotipo Grão Filmes" />
    <img id="sec" class="logo" src="/assets/logos/secretaria.png" alt="Logotipo da Secretaria de Cultura e Economia Criativa" />
    <img
      class="bg"
      alt="Imagem de fundo com manchas de aquarela que remetem à paisagem de uma cidade com árvores"
      src="/assets/base.png"
      />
    <div
      class="main-navigation absolute justify-center"
      >
      <div class="bar-area">
        <img id="aqui-ali" src="/assets/logo-no-slash.svg" class="absolute main-logo" />
        <div
          ref="middle-bar"
          class="bg-theme-logo middle-bar">
        </div>
      </div>
      <button
        class="charButton helen -mt-12 hover:text-theme-pink-dark"
        @click="startVr('helen')">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33.54 8.74" class="h-14 helenButton">
          <path d="M2.74,0V3.25a4.64,4.64,0,0,1,1-.49,2.73,2.73,0,0,1,.86-.15,2.05,2.05,0,0,1,1,.24,1.62,1.62,0,0,1,.64.6,2,2,0,0,1,.2,1V6.84a1.78,1.78,0,0,0,0,.44.29.29,0,0,0,.18.16,1.58,1.58,0,0,0,.41,0h.28V8.6H3.91V7.47h.17a.73.73,0,0,0,.35,0,.24.24,0,0,0,.13-.13,1.58,1.58,0,0,0,0-.41v-2a1.58,1.58,0,0,0,0-.53.46.46,0,0,0-.17-.22A.58.58,0,0,0,4,4a1.51,1.51,0,0,0-.57.11,3.12,3.12,0,0,0-.73.41V6.88a1.58,1.58,0,0,0,0,.41.24.24,0,0,0,.13.13.85.85,0,0,0,.38,0H3.4V8.6H0V7.47H.33a.9.9,0,0,0,.36,0A.2.2,0,0,0,.81,7.3a.91.91,0,0,0,0-.36V1.63H0V.5A7.12,7.12,0,0,0,1.09.33,7.17,7.17,0,0,0,2.19,0Z"/>
          <path class="cls-1" d="M13.42,6.43l.8.81a4.67,4.67,0,0,1-1.41,1.15,3.52,3.52,0,0,1-1.55.35A3.08,3.08,0,0,1,9,7.84,3,3,0,0,1,8.1,5.65,3,3,0,0,1,8.51,4.1,2.89,2.89,0,0,1,9.64,3a3.47,3.47,0,0,1,1.65-.4,3.29,3.29,0,0,1,1.07.17,2.69,2.69,0,0,1,.84.49,2.56,2.56,0,0,1,.58.76,3.48,3.48,0,0,1,.3.93,6.36,6.36,0,0,1,0,.76H10.17a1.79,1.79,0,0,0,.44,1.21,1.35,1.35,0,0,0,1,.46,1.84,1.84,0,0,0,.85-.24A3.46,3.46,0,0,0,13.42,6.43ZM12.25,4.74a1.43,1.43,0,0,0-.17-.55,1,1,0,0,0-.34-.33,1,1,0,0,0-.45-.12,1,1,0,0,0-.48.13,1.06,1.06,0,0,0-.37.33,1.19,1.19,0,0,0-.17.54Z"/>
          <path class="cls-1" d="M17.7,0V6.86a1.53,1.53,0,0,0,0,.41.33.33,0,0,0,.18.17,2.16,2.16,0,0,0,.48,0h.2V8.6H15V7.47h.23a1.45,1.45,0,0,0,.45,0,.34.34,0,0,0,.15-.14,1.34,1.34,0,0,0,0-.43V1.63H15V.5A7.72,7.72,0,0,0,17.13,0Z"/>
          <path class="cls-1" d="M24.46,6.43l.8.81a4.67,4.67,0,0,1-1.41,1.15,3.52,3.52,0,0,1-1.55.35,3.08,3.08,0,0,1-2.25-.9,3,3,0,0,1-.91-2.19,3,3,0,0,1,.41-1.55A2.89,2.89,0,0,1,20.68,3a3.47,3.47,0,0,1,1.65-.4,3.29,3.29,0,0,1,1.07.17,2.69,2.69,0,0,1,.84.49,2.56,2.56,0,0,1,.58.76,3.88,3.88,0,0,1,.3.93,6.9,6.9,0,0,1,0,.76H21.21a1.74,1.74,0,0,0,.44,1.21,1.35,1.35,0,0,0,1,.46,1.87,1.87,0,0,0,.85-.24A3.46,3.46,0,0,0,24.46,6.43ZM23.29,4.74a1.43,1.43,0,0,0-.17-.55,1,1,0,0,0-.34-.33,1,1,0,0,0-.45-.12,1,1,0,0,0-.48.13,1.06,1.06,0,0,0-.37.33,1.32,1.32,0,0,0-.18.54Z"/>
          <path class="cls-1" d="M28.72,2.61v.78a5.16,5.16,0,0,1,1.13-.61,2.94,2.94,0,0,1,1-.17,2.07,2.07,0,0,1,1,.24,1.62,1.62,0,0,1,.64.6,2.23,2.23,0,0,1,.19,1V6.91a1,1,0,0,0,.05.4.26.26,0,0,0,.14.13,1.52,1.52,0,0,0,.42,0h.28V8.6H30.11V7.47a2.52,2.52,0,0,0,.43,0,.27.27,0,0,0,.2-.13,1.09,1.09,0,0,0,.05-.4V4.77a1,1,0,0,0-.09-.54.5.5,0,0,0-.45-.2,1.37,1.37,0,0,0-.54.11,3.57,3.57,0,0,0-.77.45V6.92a.83.83,0,0,0,.08.46.6.6,0,0,0,.4.09h.19V8.6H26.2V7.47h.17a2.33,2.33,0,0,0,.5,0A.28.28,0,0,0,27,7.31.83.83,0,0,0,27.07,7V4.24H26.2V3.11a7.8,7.8,0,0,0,2-.5Z"/>
        </svg>
      </button>
      <button
        class="charButton luis -mb-3 hover:text-theme-green-dark"
        @click="startVr('luis')">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21.96 8.74" class="h-14 luisButton">
          <path d="M2.74,0V6.86a1.53,1.53,0,0,0,0,.41A.28.28,0,0,0,3,7.44a2,2,0,0,0,.47,0h.21V8.6H0V7.47H.22a1.37,1.37,0,0,0,.45,0,.29.29,0,0,0,.15-.14,1.25,1.25,0,0,0,.05-.43V1.63H0V.5A7.8,7.8,0,0,0,2.17,0Z"/>
          <path class="cls-1" d="M4.05,2.75l2.74,0V6.5a2.13,2.13,0,0,0,0,.54A.45.45,0,0,0,7,7.26a.54.54,0,0,0,.33.09A1.67,1.67,0,0,0,8,7.21c.08,0,.31-.18.68-.42V4.51a1.27,1.27,0,0,0,0-.41.34.34,0,0,0-.14-.17.83.83,0,0,0-.34-.05H7.79V2.75l2.75,0V6.9a1.64,1.64,0,0,0,0,.41.22.22,0,0,0,.13.12,1.09,1.09,0,0,0,.4,0h.31V8.6l-2.57.07V8a4.41,4.41,0,0,1-1,.57,3,3,0,0,1-1,.19A2,2,0,0,1,6,8.6a1.83,1.83,0,0,1-.59-.36A1.54,1.54,0,0,1,5,7.69a2.46,2.46,0,0,1-.11-.79V4.48a1.57,1.57,0,0,0,0-.42.27.27,0,0,0-.13-.13,1,1,0,0,0-.38-.05H4.05Z"/>
          <path class="cls-1" d="M14.87,2.61V6.94a1.3,1.3,0,0,0,0,.38.21.21,0,0,0,.13.11,1.12,1.12,0,0,0,.4,0h.32V8.6H12.13V7.47h.31a1.55,1.55,0,0,0,.39,0A.24.24,0,0,0,13,7.33.88.88,0,0,0,13,7V4.23h-.87V3.13A8.35,8.35,0,0,0,13,3a6.56,6.56,0,0,0,.76-.18,4.32,4.32,0,0,0,.53-.24ZM13.92,0a1,1,0,0,1,.75.31,1.05,1.05,0,0,1,.32.76,1.06,1.06,0,0,1-.32.77,1,1,0,0,1-.75.31,1,1,0,0,1-.76-.31,1,1,0,0,1-.32-.76,1,1,0,0,1,.33-.76A1,1,0,0,1,13.92,0Z"/>
          <path class="cls-1" d="M20.41,2.75h.77l.47,1.63-1.11.45a2.33,2.33,0,0,0-.79-.8,1.75,1.75,0,0,0-.95-.29.83.83,0,0,0-.46.1.31.31,0,0,0-.15.26.28.28,0,0,0,.11.22,1.31,1.31,0,0,0,.44.23l1.62.57a5.5,5.5,0,0,1,.82.38,1.56,1.56,0,0,1,.58.56,1.42,1.42,0,0,1,.2.78,1.61,1.61,0,0,1-.61,1.3,2.66,2.66,0,0,1-1.78.6A2.73,2.73,0,0,1,18,8.28l-.17.32H17l-.72-1.92,1.11-.47a3.13,3.13,0,0,0,1,1,2.14,2.14,0,0,0,1.11.38.93.93,0,0,0,.54-.15.33.33,0,0,0,.16-.28.33.33,0,0,0-.13-.25,1.46,1.46,0,0,0-.57-.28L18.3,6.21a3.59,3.59,0,0,1-1.43-.79,1.44,1.44,0,0,1-.38-1,1.55,1.55,0,0,1,.6-1.24,2.44,2.44,0,0,1,1.66-.58,2.81,2.81,0,0,1,1.51.4Z"/>
        </svg>
      </button>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import { gsap } from "gsap"

export default defineComponent({
  mounted () {
    gsap.timeline({
      delay: 0.5,
      defaults: { duration: 1, ease: 'linear' },
      onComplete: () => { this.$router.push('/experiencias') }
      })
      .to("#proac", {opacity: 1, display: 'block'})
      .to("#proac", {opacity: 0, display: 'none', delay: 1})
      .to("#grao", {opacity: 1, display: 'block'})
      .to("#grao", {opacity: 0, display: 'none', delay: 1})
      .to("#sec", {opacity: 1, display: 'block'})
      .to("#sec", {opacity: 0, display: 'none', delay: 1})
      .from(".bg", {y: 200, opacity: 0, display: 'none'})
      .from('.middle-bar', {y: 30, opacity: 0, display: 'none', duration: 0.5})
      .from('#aqui-ali', {x: -30, opacity: 0, display: 'none', duration: 0.5})
      .to('#aqui-ali', {x: 30, opacity: 0, display: 'none', duration: 0.5, delay: 1})
      .from("#menu", {x: -500, display: 'none', duration: 0.5}, "<")
      .from('.helenButton', {x: 30, opacity: 0, display: 'none', delay: 0.3, duration: 0.5})
      .from('.luisButton', {x: -30, opacity: 0, display: 'none', delay: 0.1, duration: 0.5}, "<")
  }
})
</script>

<style lang="postcss" scoped>
.logo {
  @apply w-72 h-auto hidden opacity-0;
}

.bg {
  @apply w-1/2 opacity-70 block;
}

.main-navigation {
  @apply grid w-60 h-auto;

  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "helen helen"
    "bar ."
    ". luis";
}

.main-logo {
  @apply h-56 ml-40 max-w-none;
}

.charButton {
  transition: all 0.2s ease-in-out;
}

.helen {
  @apply flex items-end justify-end pb-4;

  grid-area: helen;
}

.luis {
  @apply flex items-start justify-end pt-4;

  grid-area: luis;
}

.bar-area {
  @apply h-full flex items-center justify-center;

  grid-area: bar;
}

.middle-bar {
  height: 4.5rem;
  width: 0.73rem;
  transform: skewX(-19deg);
}

@media (orientation: portrait) {
  .bg {
    max-width: 200vw;
    width: 200vw
  }

  .middle-bar {
    @apply h-20 ml-4;
  }
}
</style>