<template>
  <div
    ref="opening"
    class="w-screen h-screen bg-theme-pink-light
          flex items-center justify-center">
    
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  data: () => ({
    startedTime: 0,
    currentTime: 0
  }),
  methods: {
    isPlaying(timestamp: number) {
      this.currentTime += (timestamp - this.startedTime) / 1000
      if (this.currentTime >= 1) {
        console.log('mypage')
      } else {
        this.startedTime = timestamp
        window.requestAnimationFrame(this.isPlaying)
      }
    },
  },
  mounted() {
    window.requestAnimationFrame((frame) => {
      this.startedTime = frame
      this.isPlaying(frame)
    })
  }
})
</script>

<style scoped>

</style>