<template>
  <div class="relative w-full h-full flex justify-center overflow-y-auto">
    <div
      id="sobre"
      class="w-1/2 pt-36">
      <h1>Processo de criação</h1>
      <h2>O projeto original: teatro e realidade virtual</h2>
      <img
        src="/assets/ilustra.png"
        alt="Ilustração de um teatro de variedades medieval, montado em praça pública, rodeado de interessados. Ao centro, um mestre de cerimônias anuncia o espetáculo." />
      <p>O projeto nasceu da reunião de artistas do audiovisual, teatro e artes plásticas para uma primeira experiência com a realidade virtual. A ideia original, concebida no contexto pré-pandemia, vislumbrava a exibição de uma obra mista entre teatro e realidade virtual: o conteúdo seria apresentado presencialmente na praça central de uma cidade de interior em uma espécie de tenda de atrações como as dos ciganos de Macondo ou as das feiras de variedades que circulavam pela Europa no final do século XIX. Os transeuntes seriam convidados a entrar no cenário por personagens que apresentariam o dispositivo de realidade virtual como sendo a última novidade curiosa, que buscaria remeter ao encantamento atemporal causado por novas tecnologias. A apresentação presencial criaria uma fricção entre a percepção do espectador sobre a praça e nossa recriação do mesmo espaço em ambiente virtual.</p>

      <h2 class="pt-4">Alteridade, acessibilidade e inclusão</h2>
      <img
        src="/assets/meet.jpg"
        alt="Screenshot de uma das reuniões do projeto, mostra uma tela dividida em quatro quadrantes. Rafaela e Juliana (acima), organizadoras do projeto, assitem a João (abaixo à esquerda) interpretar em LIBRAS a comunicação com Cecília (abaixo à direita)." />
      <p>A principal fonte de inspiração do projeto é a diferença de percepção de um espaço como a praça central por pessoas com deficiência visual ou auditiva. Com o apoio de duas instituições, a Integra - Assistência ao Deficiente Auditivo e a ASAC (Associação Sorocabana de Atividades para Deficientes Visuais), Integra - Assistência ao Deficiente Auditivo, conhecemos o João XXX, o Brian Kurosawa, o Pablo XXX, a Cecília XXX, a Emily e o YYY, que nos apresentaram o universo dos cegos e dos surdos. A descrição que eles nos fizeram desses espaços nos deu uma noção de como a mudança nos sentidos transforma a experiência e imaginação dos espaços e o modo como nos relacionamos com ele.</p>
      <p>O Brian, que nunca enxergou, diz que tem a impressão de que há uma espécie de grande muro em uma das laterais da praça, nada que se possa tocar, mas algo que ele percebe acusticamente. Ele se refere à rua que possui diversos arranhas-céus.</p>
      <p>Emily, que perdeu a visão no final do Ensino Médio, tem a impressão de que a praça foi ficando maior e mais vazia.</p>
      <p>O Pablo, um milenial como a equipe artística desse projeto, se lembra das transformações da praça ao longo do tempo: os sons que ela perdeu como o das visitas frequentes do “homem da cobra”, além de seu esvaziamento gradual com a eliminação do quiosque de lanchonete, do prédio com cabines telefônicas e de muitas árvores e bancos, que contribuíram para o esvaziamento do local.</p>
      <p>Todos mencionam os sons que o caracterizam: sino da igreja, pregadores, prostitutas, vendedor de loterias, banca de jornal, carros e pombos.</p>
      <p>O contato com eles foi fundamental para a nossa equipe. Muito além da contribuição sobre a percepção deles sobre os espaços, o simples convívio com eles ao longo do processo nos sensibilizou às diversas dificuldades cotidianas que um deficiente enfrenta em um mundo que não foi feito para ele: dos espaços públicos aos aplicativos de telefone e sites de internet.</p>
      <p>Por essa razão, nomeamos as duas experiências em homenagem a duas pessoas que revolucionaram a vida das pessoas cegas ou surdas. Uma se chama Helen, em homenagem à Helen Keller (Estados Unidos, 1880-1968), a primeira surdo-cega da história a conquistar um bacharelado, e a outra Luís, em homenagem a Louis Braille (França, 1809-1852), que perdeu a visão durante a infância e criou o sistema de leitura para cegos utilizado no mundo todo, o braille.</p>

      <page-footer
        class="justify-center pt-20"
        addGrao
        ></page-footer>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import pageFooter from '../components/pageFooter.vue'

export default defineComponent({
  name: 'about',
    components: {
    pageFooter
  },
})
</script>

<style lang="postcss" scoped>
img {
  @apply py-10 w-full;
}

p {
  @apply py-2;
}
</style>