<template>
  <div
    v-if="!currentVideo"
    class="absolute top-0 left-0 w-screen h-screen bg-gray-700
          flex items-center justify-center cover-page z-50">
    <button
      class="button"
      @click="startVr('helen')">
      Helen
    </button>
    <button
      class="button"
      @click="startVr('luis')">
      Luiz
    </button>
  </div>
  <vue-vr
    :target="currentVideo"
    :deviceOrientation="deviceOrientation"
    :alpha="alpha"
    :beta="beta"
    :gamma="gamma"
    @ended="currentVideo = ''">
    </vue-vr>

  <div
    class="screen-reader-only"
    aria-live="polite"
    >
    {{ screenReaderText }}
    </div>

</template>

<script lang="ts">
import { defineComponent } from 'vue'
import vueVr from './components/vueVr.vue'

export default defineComponent({
  name: 'home',
  components: {
    vueVr
  },
  data: () => ({
    deviceOrientation: false,
    currentVideo: '' as '' | 'helen' | 'luis',
    alpha: 0,
    beta: 0,
    gamma: 0,
    screenReaderText: ""
  }),
  methods: {
    notifyScreenReader(message: string) {
      this.screenReaderText = message;
    },

    startVr (target: 'helen' | 'luis') {
      if (window.DeviceOrientationEvent) {
        if (typeof DeviceOrientationEvent.requestPermission === 'function') {
          DeviceOrientationEvent.requestPermission()
          .then(response => {
            if (response === 'granted') {
              this.deviceOrientation = true
              window.addEventListener('deviceorientation', this.deviceOrientationHandler, true)
            } else {
              console.log('nop')
            }
          })
        } else {
          this.deviceOrientation = true
          window.addEventListener('deviceorientation', this.deviceOrientationHandler, true)
        }
      }

      this.currentVideo = target
    },

    deviceOrientationHandler (event: DeviceOrientationEvent) {
      if(event.alpha) this.alpha = event.alpha
      if(event.beta) this.beta = event.beta
      if(event.gamma) this.gamma = event.gamma
    }
  }

})
</script>

<style lang="postcss">
@tailwind base;
@tailwind components;
@tailwind utilities;

.ytPlayer {
  width: 100vw;
  height: 100vh;
  background-color: #000;
}

#app {
  @apply relative w-screen h-screen overflow-hidden text-gray-400;
}

.button {
  @apply px-4 py-3 border border-gray-400 rounded-md hover:border-gray-100 hover:text-gray-100 mx-auto;
}

.fade-enter-active,
.fade-leave-active {
  transition: all 0.2s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.screen-reader-only {
  position: absolute;
  left: -200vw;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

</style>