<template>
  <div
    class="absolute top-0 left-0 w-full h-full flex items-center justify-center z-40"
    ref="impetus"
    :style="{cursor: cursorStyle}"
    @mousedown="startDrag"
    @touchstart="startDrag"
    >
    <transition name="fade">
      <div v-if="playerStatus === 'paused'" class="relative w-20 h-20">
        <icon-image icon="pause" />
      </div>
      <div v-else-if="playerStatus === 'buffering'" class="w-20 h-20">
        <loading-spinner />
      </div>
    </transition>
  </div>
</template>

<script lang="ts">
import Impetus from '../lib/impetus.js'
import { defineComponent } from 'vue'

import iconImage from './iconImage.vue'
import loadingSpinner from './loadingSpinner.vue'

export default defineComponent({
  props: {
    started: {
      type: Boolean,
      required: true
    },
    playerStatus: {
      type: String,
      required: true
    },
    buffer: {
      type: Number,
      required: true
    }
  },
  emits: ['cameramove', 'toggleplay'],
  components: {
    iconImage,
    loadingSpinner
  },
  data: () => ({
    cursorStyle: 'grab' as 'grab' | 'grabbing',
    registerInitialVar: false,
    momentum: null as null | Impetus,
    fov: 100,
    yawVar: 0,
    pitchVar: 0,
    dragStartX: 0,
    dragStartY: 0,
    dragMovementX: 0,
    dragMovementY: 0
  }),
  methods: {
    startDrag (event: MouseEvent | TouchEvent) {
      if(this.started) {
        if (event instanceof MouseEvent) {
          this.cursorStyle = 'grabbing'
          this.dragStartX = event.clientX
          this.dragStartY = event.clientY
          window.addEventListener('mouseup', this.stopDrag)
        } else {
          this.dragStartX = event.touches[0].clientX
          this.dragStartY = event.touches[0].clientY
          window.addEventListener('touchend', this.stopTouch)
        }
      }
    },
    dragging (x : number, y : number) {
      const impetus = this.$refs.impetus as HTMLDivElement

      const variationX = (x - this.dragMovementX) * this.fov / impetus.clientWidth
      const variationY = (y - this.dragMovementY) * this.fov / impetus.clientHeight
      this.dragMovementX = x
      this.dragMovementY = y

      this.yawVar = this.yawVar + variationX
      this.yawVar = this.yawVar >= 360 ? this.yawVar - 360
                  : this.yawVar < 0 ? this.yawVar + 360 : this.yawVar

      this.pitchVar = this.pitchVar + variationY
      this.pitchVar = this.pitchVar < -90 ? -90
                    : this.pitchVar > 90 ? 90 : this.pitchVar

      this.$emit('cameramove', {yaw: this.yawVar, pitch: this.pitchVar})
    },
    stopDrag (event: MouseEvent) {
      if(this.dragStartX === event.clientX && this.dragStartY === event.clientY) this.$emit('toggleplay')
      this.cursorStyle = 'grab'
    },
    stopTouch (event: TouchEvent) {
      if(this.dragStartX === event.touches[0].clientX && this.dragStartY === event.touches[0].clientY) this.$emit('toggleplay')
    },
  },
  mounted () {
    this.momentum = new Impetus({
      source: this.$refs.impetus,
      update: (x: number, y: number) => this.dragging(x, y)
    })
  }
})
</script>

<style scoped>

</style>