<template>
  <svg class="max-h-full max-w-full" fill="currentColor" viewBox="0 0 24 24" preserveAspectRatio="true">
    <path v-if="icon === 'pause'" d="M14,19H18V5H14M6,19H10V5H6V19Z" />
  </svg>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  props: {
    icon: String
  }
})
</script>

<style scoped>

</style>