<template>
  <nav class="flex">
    <button
      @click="handleClick"
      :aria-expanded="expanded"
      aria-label="Exibir opções"
    >
    <img
      ref="bar"
      class="absolute h-10 px-3 py-1 top-11 z-50"
      alt="Logotipo com letras estilizadas onde se lê: aqui / ali"
      src="/assets/logo-icon.svg"
      aria-hidden="true"
      />
    </button>
    <transition
      name="courtain"
      @enter="enter"
      @leave="leave"
      >
      <div
        v-if="expanded"
        class="absolute flex flex-col bg-theme-gray-light overflow-hidden
              w-full portrait:w-80 lg:w-80 h-screen">
        <button
          class="absolute m-2 p-2 w-8 right-0 z-50 bg-theme-pink-light rounded-full"
          @click="handleClick">
          <svg viewBox="0 0 24 24">
              <path fill="currentColor" d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z" />
          </svg>
        </button>
        <img
          class="w-28 px-3 py-1"
          alt="Logotipo com letras estilizadas onde se lê: aqui / ali"
          src="/assets/logo-no-slash.svg"
          @click="handleClick"
          />
        <ul class="flex-grow flex items-center portrait:pt-10 pr-10 portrait:pt-10 lg:pt-10
              portrait:flex-col lg:flex-col portrait:items-start lg:items-start">
          <router-link
            v-for="item in items"
            :key="item.option"
            :to="item.path"
            class="flex text-xl items-center item-link font-light"
            tag="li"
            >
            <span
              class="block whitespace-nowrap overflow-hidden w-full pl-2">
              {{ item.option }}
            </span>
          </router-link>
        </ul>
        <page-footer class="justify-end"></page-footer>
      </div>
    </transition>
  </nav>
</template>

<script lang = "ts">
import { defineComponent } from 'vue'
import { gsap } from "gsap"

import pageFooter from './pageFooter.vue'

export default defineComponent({
  name: "menu-item",
  components: {
    pageFooter
  },
  data: () => ({
    expanded: false,
    items: [
      {
        option: "início",
        path: "/experiencias"
      },
      {
        option: "sobre",
        path: "/sobre"
      },
      {
        option: "processo",
        path: "/processo"
      }
    ]
  }),
  created() {
    this.setExpanded(true);
  },
  methods: {
    handleClick() {
      this.expanded = !this.expanded;
    },
    getExpanded() {
      return this.expanded;
    },
    setExpanded(expanded: boolean) {
      this.expanded = expanded;
    },

    enter (el: Element, done: any) {
      const bar = this.$refs.bar as HTMLElement
      gsap.to(bar, {
        duration: 0.5,
        top: '44px',
        ease: 'Power1.in',
        onComplete: done
      })
    },
    leave (el: Element, done: any) {
      const bar = this.$refs.bar as HTMLElement
      gsap.to(bar, {
        delay: 0.3,
        duration: 0.5,
        top: '.25rem',
        ease: 'Power1.out',
        onComplete: done
      })
    },
  },
  watch: {
    '$route' () {
      if(this.$route.path !== '/') {
        this.expanded = false
      }
    }
  }
})
</script>

<style lang="postcss" scoped>
.courtain-enter-active,
.courtain-leave-active {
  transition: all 0.5s ease;
}

.courtain-enter-from,
.courtain-leave-to {
  @apply w-0;
}

.item-link:hover {
  @apply font-normal;
}

.item-link:hover .item-bar {
  @apply opacity-100;
}
</style>