<template>
  <footer
    class="flex flex-wrap w-full pb-3 bottom-0">
    <img src="/assets/logos/proac.png" alt="Logotipo ProAC Editais" />
    <img src="/assets/logos/cultura_em_casa.png" alt="Logotipo Cultura em Casa" />
    <img src="/assets/logos/amigos.png" alt="Logotipo Amigos da Arte" />
    <a v-if="addGrao" href="https://linktr.ee/graofilmes" target="_blanc"><img src="/assets/logos/grao.svg" alt="Logotipo Grão Filmes" /></a>
    <img src="/assets/logos/secretaria.png" alt="Logotipo da Secretaria de Cultura e Economia Criativa" />
  </footer>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  props: {
    addGrao: {
      type: Boolean,
      default: false
    }
  }
})
</script>


<style lang="postcss" scoped>
  img {
    @apply opacity-80 h-16 mr-8;
  }
</style>