<template>
  <div id="VR" class="h-screen w-screen">
    <button
      class="absolute m-2 p-2 w-8 right-0 z-50 bg-theme-pink-light rounded-full"
      @click="ended">
      <svg viewBox="0 0 24 24">
          <path fill="currentColor" d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z" />
      </svg>
    </button>

    <drag-wrapper
      :started="videoReady"
      :playerStatus="videoStatus"
      :buffer="buffer"
      @toggleplay="togglePlay"
      @cameramove="dragCamera">
    </drag-wrapper>

    <youtube-vr
      ref="video"
      :videoId="videoId"
      :yaw="cameraX"
      :pitch="cameraY"
      @ready="videoReady = true"
      @playing="videoStatus = 'playing'"
      @paused="videoStatus = 'paused'"
      @ended="ended"
    >
    </youtube-vr>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue'
import { Targets } from '../types/types'
import dragWrapper from './dragWrapper.vue'
import youtubeVr from './youtubeVr.vue'
//import threeJs from './threeJs.vue'

export default defineComponent({
  components: {
    dragWrapper,
    //threeJs,
    youtubeVr
  },
  props: {
    alpha: Number,
    beta: Number,
    gamma: Number,
    target: {
      type: String as PropType<Targets>,
      required: true
    }
  },
  emits: ['ended'],
  data() {
    return {
      yaw: 0,
      pitch: 0,
      yawVar: 0,
      pitchVar: 0,
      cameraX: 0,
      cameraY: 0,
      pitchLimit: [45, -20],
      videoReady: false,
      videoStatus: 'buffering',
      buffer: 0
    }
  },
  computed: {
    isSafari (): boolean {
      return /^((?!chrome|android).)*safari/i.test(navigator.userAgent)
    },
    videoId (): string {
      return this.target === 'helen' ? 'AgqEpq2y7r4' : 'LaogvR-gAfg'
    }
  },
  methods: {
    play() {
      this.$refs.video.play()
    },
    pause() {
      this.$refs.video.pause()
    },
    togglePlay () {
      this.$refs.video.togglePlay()
    },

    dragCamera (newValues: {yaw: number, pitch: number}) {
      this.yawVar = newValues.yaw
      this.pitchVar = newValues.pitch
      this.moveCamera()
    },
    orientationChange () {
      this.yaw = this.setYaw(this.alpha, this.beta, this.gamma)
      this.pitch = this.setPicth(this.beta, this.gamma)
      this.moveCamera()
    },
    setYaw( alpha: number, beta: number, gamma: number ) {

      const degtorad = Math.PI / 180

      var _x = beta  ? beta  * degtorad : 0 // beta value
      var _y = gamma ? gamma * degtorad : 0 // gamma value
      var _z = alpha ? alpha * degtorad : 0 // alpha value

      var cX = Math.cos( _x )
      var cY = Math.cos( _y )
      var cZ = Math.cos( _z )
      var sX = Math.sin( _x )
      var sY = Math.sin( _y )
      var sZ = Math.sin( _z )

      // Calculate Vx and Vy components
      var Vx = - cZ * sY - sZ * sX * cY
      var Vy = - sZ * sY + cZ * sX * cY

      // Calculate compass heading
      var compassHeading = Math.atan( Vx / Vy )

      // Convert compass heading to use whole unit circle
      if( Vy < 0 ) {
        compassHeading += Math.PI
      } else if( Vx < 0 ) {
        compassHeading += 2 * Math.PI
      }

      return Math.round(compassHeading * ( 180 / Math.PI )* 100) / 100 // Compass Heading (in degrees)

    },
    setPicth(beta: number, gamma: number): number {

      let pitch = 0

      pitch = beta < 0 ?
              beta < -90 ? 90 : -90
            : beta - 90

      let newGamma = 0
      newGamma = gamma < 0 ? (90 + gamma) * -1 : Math.abs(gamma - 90)

      let correctPitch = 0

      if(!this.isSafari) {
        if (screen.orientation.type === "portrait-primary") {
          correctPitch = pitch
        } else {
          if (screen.orientation.type === "landscape-secondary") newGamma = -1 * newGamma
          correctPitch = pitch < 0 ?
                          newGamma > 0 ? -90 : newGamma
                        : newGamma < 0 ? 90 : newGamma
        }
      } else {
        if (window.orientation === 0) {
          correctPitch = pitch
        } else {
          if (window.orientation === -90) newGamma = -1 * newGamma
          correctPitch = pitch < 0 ?
                          newGamma > 0 ? -90 : newGamma
                        : newGamma < 0 ? 90 : newGamma
        }
      }

      return -Math.round(correctPitch * 100) / 100
    },

    moveCamera () {
      if(this.videoReady) {
        let currentYaw = this.yaw + this.yawVar
        currentYaw = currentYaw >= 360 ? currentYaw - 360 : currentYaw < 0 ? currentYaw + 360 : currentYaw
        this.cameraX = currentYaw

        let currentPitch = this.pitch + this.pitchVar

        // limit pitch
        currentPitch = currentPitch > this.pitchLimit[0] ? this.pitchLimit[0] :
                       currentPitch < this.pitchLimit[1] ? this.pitchLimit[1] : currentPitch
        this.cameraY = currentPitch
      }
    },

    enterFullscreen () {
      if (document.querySelector("#app").requestFullscreen) {
        document.querySelector("#app").requestFullscreen()
      } else if (document.querySelector("#app").mozRequestFullScreen) {
        document.querySelector("#app").mozRequestFullScreen()
      } else if (document.querySelector("#app").webkitRequestFullscreen) {
        document.querySelector("#app").webkitRequestFullscreen()
      } else if (document.querySelector("#app").msRequestFullscreen) {
        document.querySelector("#app").msRequestFullscreen()
      }

      if(!this.isSafari) screen.orientation.lock('landscape')
    },
    exitFullscreen () {
      if (document.exitFullscreen) {
        document.exitFullscreen()
      } else if (document.webkitExitFullscreen) {
        document.webkitExitFullscreen()
      } else if (document.mozCancelFullScreen) {
        document.mozCancelFullScreen()
      } else if (document.msExitFullscreen) {
        document.msExitFullscreen()
      }
    },

    keyboardHandler (event: KeyboardEvent) {
      switch(event.code) {
        case 'Space':
          this.togglePlay()
          break
      }
    },

    ended () {
      this.pause()
      this.$router.push('/experiencias')
    },

    updateBuffer (value: number) {
      this.buffer = value
    }
  },
  watch: {
    alpha () {
      this.orientationChange()
    },
    beta () {
      this.orientationChange()
    },
    gamma () {
      this.orientationChange()
    },
  },
  mounted() {
    if (this.deviceOrientation) {
      window.addEventListener('deviceorientation', this.deviceOrientationHandler, true)
    }
    window.addEventListener('keyup', this.keyboardHandler)
  },
  unmounted() {
    window.removeEventListener('deviceorientation', this.deviceOrientationHandler, true)
    window.addEventListener('keyup', this.keyboardHandler)
  }
})
</script>

<style scoped>

</style>
