<template>
  <youtube
    ref="ytPlayer"
    :src="videoId"
    class="w-full h-full"
    width="100%"
    height="100%"
    :vars="playerVars"
    @ready="onPlayerReady"
    @state-change="onPlayerStateChange">
  </youtube>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import iconImage from './iconImage.vue'
import youtube from 'vue3-youtube'

export default defineComponent({
  components: {
    iconImage,
    youtube
  },
  props: {
    videoId: {
      type: String,
      required: true
    },
    yaw: {
      type: Number,
      required: true
    },
    pitch: {
      type: Number,
      required: true
    }
  },
  emits: [
    'ready',
    'ended',
    'paused',
    'playing',
    'buffering',
    'error'
  ],
  data: () => ({
    player: null as null | any,
    playerStatus: -1,
    cursorStyle: 'grab' as 'grab' | 'grabbing',
    registerInitialVar: false,
    momentum: null as null | Impetus,
    pitchLimit: -10,
    fov: 100,
    yawVar: 0,
    pitchVar: 0,
    dragStart: false,
    dragStartX: 0,
    dragStartY: 0,
    dragMovementX: 0,
    dragMovementY: 0,
    playerVars: {
      controls: 0,
      modestbranding: 1,
      playsinline: 1,
      rel: 0,
      showinfo: 0
    }
  }),
  methods: {
    onPlayerReady () {
      console.log(this.$refs.ytPlayer)
      this.player = this.$refs.ytPlayer.player
      this.$emit('ready')
      this.play()
    },
    pause () {
      this.player.pauseVideo()
    },
    play () {
      this.player.playVideo()
    },
    togglePlay () {
      if(this.playerStatus === 1) { this.pause() }
      else { this.play() }
    },
    onPlayerStateChange (event: {data: number, target: object}) {
      this.playerStatus = event.data
      if (event.data === 0) { // ended
        this.$emit('ended')
      } else if (event.data === 1) { // playing
        if(!this.registerInitialVar) {
          this.yawVar = -this.yaw
          this.fov = this.player.getSphericalProperties().fov
          this.player.setSphericalProperties({
            enableOrientationSensor: false
          })
          this.registerInitialVar = true
        }
        this.$emit('playing')
      } else if (event.data === 2) { // paused
        this.$emit('paused')
      } else if (event.data === 3) { // buffering
        this.$emit('buffering')
      } else if (event.data === 5) { // video cued
        this.$emit('error')
      } else { // unstarted
        console.log('unstarted')
      }
    },

    redefineYaw () {
      this.player.setSphericalProperties({
        yaw: this.yaw
      })
    },
    redefinePitch () {
      this.player.setSphericalProperties({
        pitch: this.pitch
      })
    }
  },
  watch: {
    yaw () {
      this.redefineYaw()
    },
    pitch () {
      this.redefinePitch()
    }
  },
})
</script>

<style scoped>

</style>