<template>
  <menu-item
    id="menu"
    class="absolute z-50 w-full"/>
  <router-view />
</template>

<script lang="ts">
declare global {
  interface Window {
    webkitAudioContext?: () => Promise<AudioContext>;
  }

  interface Document {
    mozCancelFullScreen?: () => Promise<void>;
    msExitFullscreen?: () => Promise<void>;
    webkitExitFullscreen?: () => Promise<void>;
    mozFullScreenElement?: Element;
    msFullscreenElement?: Element;
    webkitFullscreenElement?: Element;
  }

  interface HTMLElement {
    msRequestFullscreen?: () => Promise<void>;
    mozRequestFullscreen?: () => Promise<void>;
    webkitRequestFullscreen?: () => Promise<void>;
  }
}

import { defineComponent } from 'vue'
import menuItem from './components/menuItem.vue'

export default defineComponent({
  name: 'App',
  components: {
    menuItem
  },
})
</script>

<style lang="postcss">
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: normal;
  src: local('Open Sans Light'), local('OpenSans-Light'), url('/fonts/open-sans/OpenSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url('/fonts/open-sans/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Bookman Old Style';
  font-weight: 400;
  font-style: normal;
  src: local('Bookman Old Style'), local('bookman-old-style'), url('/fonts/bookman-old-style/bookman-old-style.ttf') format('truetype');
}

@font-face {
  font-family: 'Bookman Old Style';
  font-weight: 700;
  font-style: normal;
  src: local('Bookman Old Style Bold'), local('bookman-old-style-bold'), url('/fonts/bookman-old-style/bookman-old-style-bold.ttf') format('truetype');
}

html,
body {
  @apply w-screen h-screen overflow-hidden;
}

h1,
h2 {
  font-family: 'Bookman Old Style';
  font-weight: 700;
}

h1 {
  @apply text-5xl pb-12;
}

h2 {
  @apply text-xl;
}

h3 {
  @apply font-light pb-4;
}

p {
  @apply pb-8;
}

a:hover {
  text-decoration: underline;
}

#app {
  @apply relative w-screen h-screen text-theme-logo bg-theme-pink-light overflow-hidden;

  font-family: 'Open Sans';
  font-weight: 400;
}

.button {
  @apply px-4 py-3 border border-theme-gray-dark rounded-md hover:border-theme-gray-light hover:text-theme-gray-light mx-auto;
}

.screen-reader-only {
  position: absolute;
  left: -200vw;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.slide-left-enter-active,
.slide-left-leave-active {
  transition: all 0.5s ease;
}

.slide-left-enter-from,
.slide-left-leave-to {
  transform: translateX(-100%);
}
</style>